# Install Python
# Install Anaconda Navigator

In [1]:
!python --version

Python 3.12.7

In [3]:
x = 50
print(x)

50

In [5]:
x = "Hello"
print(x)

Hello

In [7]:
print(13 + 15)

28

In [9]:
type ("Hello Class!")

str

In [11]:
type (12.5)

float

In [13]:
type (-12)

int

In [15]:
type (True)

bool

In [17]:
a = ['a', 'b', 'c']
type(a)

list

In [19]:
b = ("apple", "banana", "cherry")
type(b)

tuple

In [21]:
c = {"apple", "banana", "cherry"}
type(c)

set

In [23]:
d = range(6)
type(d)

range

In [25]:
type (1j)

complex

In [27]:
# print() + format() functions
w = 15
x = 20
print("The first number is: {}".format(w))
print("The type of second number is: {}".format(type(x)))
print("The first number is: {} which is smaller than the second number: {}". format(w,x))
print("The second number is: {} which its type is: {}". format(x,type(x)))

The first number is: 15
The type of second number is: <class 'int'>
The first number is: 15 which is smaller than the second number: 20
The second number is: 20 which its type is: <class 'int'>

In [29]:
# format() with index for reordering
print('The first number is: {1} which its type is: {0}'.format(type(w), w))

The first number is: 15 which its type is: <class 'int'>

# Data types in Python
![Python-Data-Types.webp](attachment:9a24f7c8-f24e-401c-90f5-cedb4a0eef98.webp)

resource: www.geeksforgeeks.org

# Casting: (type conversion) the process of converting a value from one data type to another

In [33]:
# Converting to Integer
# Data Loss: When casting from a float to an integer, the decimal part is truncated.
x = int(55)   
y = int(52.88) 
z = int("83") 
w = int("-27") 
print(x, type (x))
print(y, type (y))
print(z, type (z))
print(w, type (w))

55 <class 'int'>
52 <class 'int'>
83 <class 'int'>
-27 <class 'int'>

In [35]:
#Converting to Float
x = float(55)     
y = float(-52.8)   
z = float("83")   
w = float("-64.24")
print(x)
print(y)
print(z)
print(w)
print(type(x),type(y), type(z), type (w))

55.0
-52.8
83.0
-64.24
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [37]:
# Converting to String
x = str("Hello!") 
y = str(52)    
z = str(83.0)  
print(x, type (x))
print(y, type (y))
print(z, type (z))

Hello! <class 'str'>
52 <class 'str'>
83.0 <class 'str'>

In [39]:
y

'52'

In [41]:
# Errors (ValueError): If you try to cast an incompatible value, you might get a ValueError.
x = int("hello")
print(x)

ValueError: invalid literal for int() with base 10: 'hello'

# Variables

In [44]:
x = 12
y = 10
res = x * y
res

120

In [46]:
x = 12
y = 10
res = x * y
print(res)

120

In [48]:
#comment of one line
""" comment of several lines"""
#"ctrl+/" comment of a cell

"""name = "Shahram"
family = "Babaie"
print(family)"""

'name = "Shahram"\nfamily = "Babaie"\nprint(family)'

In [50]:
name = "Shahram"
family = "Babaie"
family

'Babaie'

In [52]:
print(name,family)

Shahram Babaie

In [54]:
x,y,z = 2,2.5,'John'
print(x,y,z)

2 2.5 John

In [56]:
x,y,z = 2,2.5,'John'
print(x)
print(y)
print(z)

2
2.5
John

In [58]:
# This prints just the last variable
x,y,z = 2,2.5,'John'
x
y
z

'John'

Concatenate

In [61]:
print(name+family)

ShahramBabaie

In [63]:
print(name +" " +family)

Shahram Babaie

In [65]:
print(name*3)

ShahramShahramShahram

Naming Conventions for naming variables, functions, or identifiers
"1,2, ... ,9, 0"
"a, b, ... , z"
"A,B, ... ,Z"
"underscore"

Variables cannot start with a number in Python
1variable = 5 (incorrect-SyntaxError)
variable1 = 5 (correct)

In [68]:
1variable = 5

SyntaxError: invalid decimal literal (4267792994.py, line 1)

In [70]:
# 1. PascalCase: Each word in a compound word or phrase starts with an uppercase letter, and there are no spaces or underscores between words

SecondCourseName = "Python"

In [72]:
# 2. camelCase: The first word starts with a lowercase letter, and subsequent words start with an uppercase letter.

secondCourseName = "Python"

In [74]:
# 3. snake_case: Words are separated by underscores, and all letters are usually lowercase.

second_course_name = "Python"

In [76]:
# 4. kebab-case: Words are separated by hyphens, commonly used in URLs or CSS.
"""kebab-case is not allowed for naming in Python because the hyphen (-) is interpreted as the subtraction operator in Python syntax. 
If you attempt to use kebab-case, Python will throw a [Syntax Error]."""

second-course-name = "Python"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2506575371.py, line 5)

In [78]:
# 5. ALL_CAPS: All letters are uppercase, with words separated by underscores. This naming is usually used for constants. 

MAX_LIMIT = 400

In [80]:
"""The Python reserves several keywords that designate special language functionality. 
These words can not be used in the naming of variables, functions, or identifiers"""
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# statement: a line of code that can be executed
# Types of Statements in Python

#1: Expression Statements: x = x + 5
#2: Assignment Statements:x = 5
#3 Conditional Statements: if x > 5 ......
#4 Loop Statements: for i in range(5): ......
#5 Function and Class Definitions: def test_function():
#6 Return Statement: return x * y
#7 Import Statements: import math
#8 Break and Continue Statements
#9 Pass Statement: if a> 10:   pass

# Operators
operators in Python are classified into the following groups:

#1: Arithmetic operators
#2: Assignment operators
#3: Comparison operators
#4: Logical operators
#5: Identity operators
#6: Membership operators
#7: Bitwise operators

# Arithmetic Operators: Perform mathematical calculations

+ - * / ** // %

In [82]:
# * : multiplication
x = 5
x * 2

10

In [84]:
# + : addition
x = 5
x + 2

7

In [86]:
# - : subtraction
x = 5
x - 2

3

In [88]:
# exponentiation
x ** 2

25

In [90]:
x = 5
y = 10
x ** y

9765625

In [92]:
# //: floor division operator 
#It returns quotient (rounds down to the nearest whole number)
x = 5
y = 2

x//y

2

In [94]:
# / : true division
# returns the quotient as a float value
x/y

2.5

In [96]:
# %: modulus operator
#It returns the remainder of the division 
x % y

1

# Assignment Operators: Assign values to variables

In [99]:
# = : assign
x = 500
print(x)

500

In [101]:
a, b = 10, 20
print(b)

20

In [103]:
# += : add and assign
x += 9
print(x)

509

In [105]:
#-= : subtract and assign
x -= 3
print(x)

506

In [107]:
# *=: multiply and assign
x *= 2
print(x)

1012

In [109]:
# /= : divide and assign
x /= 2
print(x)

506.0

In [111]:
# %= : modulus and assign
x = 223
x %= 8
print(x)

7

In [113]:
#**=: exponentiate and assign
x **= 2
print(x)

49

In [115]:
#//= : floor divide and assign
x //= 2
print(x)

24

# Comparison Operators: Compare two operands

In [118]:
# == : equal to
var_1 = 3
var_2 = 4
print(var_1 == var_2)

False

In [120]:
# != : not equal to
var_1 = 3
var_2 = 4
print(var_1 != var_2)

True

In [122]:
# > : greater than
var_1 = 3
var_2 = 4
print(var_1 > var_2)

False

In [124]:
# < : less than
var_1 = 3
var_2 = 4
print(var_1 < var_2)

True

In [126]:
# >= : greater than or equal to
var_1 = 3
var_2 = 4
print(var_1 >= var_2)

False

In [128]:
# <= : less than or equal to
var_1 = 3
var_2 = 4
print(var_1 <= var_2)

True

# Logical operators: Combine or modify boolean expressions

In [131]:
# and : returns True if both operands are true
x = True
y = False
print(x and y)

False

In [133]:
# or : returns True if at least one operand is true
x = 1
y = 10
print(x < 5 or y < 4)

True

In [135]:
# not : reverses the boolean value of the operand
x = True
print(not x)

False

# Bitwise operators: Perform bit-level operations on integers

In [138]:
# & : AND
x = 10 # Binary: 1010
y = 4  # Binary: 0100
print(x & y)

0

In [140]:
# | : OR
x = 10 # Binary: 1010
y = 4  # Binary: 0100
print(x | y)

14

In [142]:
# ^ : XOR
x = 10 # Binary: 1010
y = 4  # Binary: 0100
print(x ^ y)

14

In [144]:
# ~ : NOT
x = 10 # Binary: 1010
y = 4  # Binary: 0100
print(~x)

-11

In [146]:
# << : left shift
x = 10 # Binary: 1010
print(x << 2)

40

In [148]:
# >> : right shift
x = 10 # Binary: 1010
print(x >> 2)

2

# Identity operators: Compare the memory locations of two objects

In [151]:
# is : returns True if both operands refer to the same object
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is y)

True

In [153]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is z)

False

In [155]:
# is not : returns True if both operands do not refer to the same object
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is not z)

True

# Membership Operators

In [160]:
# in : returnrs True if value is found in the sequence
x = 25
y = 50
list = [10, 20, 30, 40, 50]
print(y in list)

True

In [162]:
# not in : returns True if value is not found in the sequence
x = 25
y = 50
list = [10, 20, 30, 40, 50]
print(x not in list)

True

# Operator Precedence in Python: describes the order of operations in statements
# highest precedence at the top
()
**
+x  -x  ~x
*  /  //  %
+  -
<<  >>
&
^
|  
==  !=  >  >=  <  <=  is  is not  in  not in
not
and
or

In [164]:
print(100 + 5 ** 3)

225

# Operator Associativity in Python
# If two operators have the same precedence, the expression is evaluated from left to right

In [167]:
print(10 - 5 + 6)
print(10 - (5 + 6))

11
-1